<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="db_CountConnectionString_old" connectionString="Data Source=4RBLIOWUDMHUMSF;Initial Catalog=db_CNY;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="db_CountConnectionString_bk" connectionString="Data Source=59.188.218.109;Initial Catalog=sq_shuyaw;Persist Security Info=True;User ID=sq_shuyaw;Password=Angle001" providerName="System.Data.SqlClient"/>
    <add name="db_CountConnectionString" connectionString="Data Source=mssql.sql64.eznowdata.com;Initial Catalog=sq_qqkity;Persist Security Info=True;User ID=sq_qqkity;Password=Qqy1234566" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="On" defaultRedirect="server/Error.aspx"/>
    <compilation debug="true"/>
    <httpRuntime/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>